<!-- Header -->
<header class="header headroom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <a class="brand" href="{{base_url}}" aria-label="Go to homepage">
          <img src="{{base_url}}images/logo.svg" width="200" height="48" alt="MyCrypto Logo" />
        </a>
      </div>
    </div>
  </div>
</header>
